.card {
    margin-bottom: 50px;
    flex-basis: 350px;
    box-shadow: 8px 8px 16px rgba(139, 139, 139, 0.15);
    border-radius: 12px;
    justify-content: center;
    img {
        border-radius: 12px;
        max-width: 350px;
        max-height: 350px;
        text-align: center;
    }
    .title {
        font-weight: 700;
    }
    .info {
        color: rgba(0, 0, 0, .5);
        min-height: 38px;
    }

    .fav-icon {
        position: absolute;
        margin-left: -50px;
        margin-top: 20px;
        background-color: rgba(0, 0, 0, .2);
        padding: 10px;
        border-radius: 12px;
        color: #ffffff;
        cursor: pointer;
        &:hover {
            color: #eb2151;
        }
    }

    .card-info {
        padding: 25px;
        .card-bottom {
            display: flex;
            justify-content: space-around;
            align-items: center;
            .btn {
                background-color: #EF476F;
                border-radius: 12px;
                padding: 15px 20px;
                border: none;
                color: #ffffff;
                width: 150px;
                box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15);
                transition-duration: 0.2s;
                cursor: pointer;
                &:hover {
                    background-color: #eb2151;
                }
            }
        }
    }
}