.purchase {
    background-color: #F8F8F8;
    border-radius: 12px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 900px;
    margin: 20px auto;
    padding: 30px 50px 30px 50px;

    .btn-showItens {
        background: #06D6A0;
        border-radius: 12px;
        color: #ffffff;
        border: none;
        padding: 15px;
        cursor: pointer;
        &:hover {
            background: #1d9978;
            transition-duration: 0.3s;
        }
    }
}